---
import { css } from "../../styled-system/css";
import HistoryItem from "../components/HistoryItem.astro";
import Section from "../components/Section.astro";
import PageLayout from "../layouts/PageLayout.astro";
import { histories } from "../utils/historyGenerator";
---

<PageLayout title={["HISTORY"]}>
  <Section heading="HISTORY">
    <ul class={css({ color: "text.dark" })}>
      {
        histories.map((item) => (
          <li>
            <HistoryItem date={item.date}>{item.title}</HistoryItem>
          </li>
        ))
      }
    </ul>
  </Section>
</PageLayout>
