---
import { getImage } from "astro:assets";
import background from "../assets/first_view/background.png";
import Blog from "../components/top/Blog.astro";
import FirstView from "../components/top/FirstView.astro";
import Layout from "../layouts/Layout.astro";

import { css } from "../../styled-system/css";
import Apps from "../components/top/Apps.astro";

const optimizedBackground = await getImage({ src: background, format: "webp" });
---

<Layout title="test">
  <div
    class={css({
      pos: "fixed",
      zIndex: "-100",
      width: "100%",
      height: "100lvh",
      backgroundSize: "cover",
      backgroundPosition: "bottom",
    })}
    style={{ backgroundImage: `url(${optimizedBackground.src})` }}
  >
  </div>
  <FirstView />
  <Blog />
  <Apps />
</Layout>
