---
import { getCollection } from "astro:content";
import Section from "../components/Section.astro";
import WorkItem from "../components/WorkItem.astro";
import Layout from "../layouts/Layout.astro";
import { container } from "../../styled-system/patterns";

const works = await getCollection("work");
---

<Layout title={["WORKS"]}>
  <Section heading="WORKS">
    <ul
      class={container({
        display: "grid",
        gridTemplateColumns: "repeat(auto-fit, minmax(35rem, 1fr))",
        gap: "16",
        maxWidth: "8xl",
        paddingInline: "px.container",
      })}
    >
      {
        works.map((item) => (
          <li class="work_item">
            <WorkItem
              name={item.data.name}
              image={item.data.icon}
              href={item.data.url ? item.data.url : `/works/${item.slug}`}
            >
              {item.data.description}
            </WorkItem>
          </li>
        ))
      }
    </ul>
  </Section>
</Layout>

<script>
  import { gsap } from "gsap";
  import ScrollTrigger from "gsap/ScrollTrigger";
  gsap.registerPlugin(ScrollTrigger);

  gsap.from(".work_item", {
    y: "15%",
    opacity: "0",
    ease: "expo.out",
    scrollTrigger: {
      trigger: ".work_item",
      start: "center bottom",
    },
    stagger: {
      from: "start",
      amount: 0.5,
    },
  });
</script>
