---
import { getImage } from "astro:assets";
import background from "../assets/first_view/background.png";
import { css } from "../../styled-system/css";

const optimizedBackground = await getImage({ src: background, format: "webp" });
---

<link rel="preload" href={optimizedBackground.src} as="image" slot="head" />

<div
  class={css({
    pos: "fixed",
    zIndex: "-100",
    top: "0",
    width: "100%",
    height: "100lvh",
    backgroundSize: "cover",
    backgroundPosition: "bottom",
    backgroundColor: "bg.top",
  })}
  style={{ backgroundImage: `url(${optimizedBackground.src})` }}
>
</div>
