---
import { css, cva } from "../../styled-system/css";

const footer = cva({
  base: {
    display: "flex",
    justifyContent: "space-between",
    flexDirection: "column",
    fontFamily: "dots",
    fontSize: "3xl",
    padding: "10",
    textAlign: "center",
    color: "text.light",
    gap: "5",
    pos: "absolute",
    bottom: "0",
    width: "100%",
    sm: {
      flexDirection: "row",
    },
  },
  variants: {
    page: {
      top: {},
      other: {
        bg: "bg.footer",
      },
    },
  },
});
const inline_block = css({
  display: "inline-block",
});
const underline = css({
  textDecoration: "underline",
});
---

<footer class={footer({ page: Astro.url.pathname == "/" ? "top" : "other" })}>
  <span class={inline_block}>(C)opyright 2024 NITO</span>
  <span class={inline_block}>
    Source Code on <a href="" class={underline}>GitHub</a>.
  </span>
</footer>
