---
import { css } from "../../styled-system/css";
import { center } from "../../styled-system/patterns";

const heading = css({
  fontFamily: "dots",
  fontSize: "6xl",
  textAlign: "center",
  color: "white",
});
---

<h1 class={heading}><slot /></h1>
