---
import { css } from "../../styled-system/css";

const heading = css({
  fontFamily: "dots",
  fontSize: "6xl",
  textAlign: "center",
});

interface Props {
  class?: string;
}

const { class: className, ...rest } = Astro.props;
---

<h1 class:list={[heading, className]} {...rest}><slot /></h1>
