---
import { cva } from "../../styled-system/css";

const loading = cva({
  base: {
    position: "fixed",
    zIndex: "loading",
    top: "0",
    left: "0",
    width: "100vw",
    height: "100lvh",
    display: "none",
  },
  variants: {
    color: {
      green: { bg: "bg.top" },
      white: { bg: "bg.light" },
    },
  },
});
---

<div
  class={loading({ color: Astro.url.pathname == "/" ? "green" : "white" })}
  id="loading"
>
</div>

<script>
  import { gsap } from "gsap";

  window.addEventListener("load", () => {
    gsap.fromTo(
      "#loading",
      {
        display: "block",
      },
      {
        autoAlpha: 0,
        ease: "expo.out",
      }
    );
  });
</script>
