---
import { Image } from "astro:assets";
import arrowImg from "../assets/arrow.svg";
import { center, linkOverlay } from "../../styled-system/patterns";
import { css } from "../../styled-system/css";

const { href } = Astro.props;

interface Props {
  href: string;
}

const button = center({
  inline: true,
  pos: "relative",
  fontFamily: "dots",
  fontSize: "3xl",
  color: "text.dark",
  bg: "bg.button",
  gap: "6",
  paddingLeft: "10",
  paddingRight: "6",
  paddingBlock: "3",
  borderRadius: "full",
  verticalAlign: "middle",
});
const arrow = css({
  height: "0.8em",
  width: "auto",
});
---

<div class={button}>
  <a
    href={href}
    class={linkOverlay({
      pos: "relative",
      top: "0.1em",
    })}>MORE</a
  >
  <Image src={arrowImg} alt="" class={arrow} />
</div>
