---
import { css } from "../../styled-system/css";
import Heading from "./Heading.astro";

interface Props {
  heading: string;
}

const { heading } = Astro.props;
---

<section>
  <Heading class={css({ color: "text.dark", marginBottom: "28" })}>
    {heading}
  </Heading>
  <slot />
</section>
