---
import { css } from "../../styled-system/css";
import Heading from "./Heading.astro";

interface Props {
  heading: string;
  href: string;
  class?: string;
}

const { heading, href, class: className, ...rest } = Astro.props;
---

<section class:list={[className]} {...rest}>
  <Heading class={css({ color: "text.dark" })}>{heading}</Heading>
  <slot />
</section>
