---
import { css } from "../../styled-system/css";
import Heading from "./Heading.astro";

interface Props {
  heading: string;
  href?: string;
}

const { heading, href } = Astro.props;
---

<section>
  <Heading
    class={css({
      color: "text.dark",
      marginBottom: "28",
      position: "relative",
    })}
    href={href}
  >
    {heading}
  </Heading>
  <slot />
</section>
