---
import { Image } from "astro:assets";
import icon from "../../assets/icon.png";
import { DESCRIPTION } from "../../consts";

import { css } from "../../../styled-system/css";
import {
  container,
  circle,
  vstack,
  bg_extend,
} from "../../../styled-system/patterns";
import MoreButton from "../MoreButton.astro";
const cont = container({
  display: "flex",
  flexDirection: "column",
  alignItems: "center",
  paddingInline: "px.container",
  paddingBottom: "44",
  gap: "20",
});

const about = vstack({
  maxWidth: "51rem",
  borderRadius: "3xl",
  p: "10",
  gap: "8",
  bg: "bg",
  border: "normal",
  opacity: "0",
});
---

<div class={cont}>
  <div class={vstack({ gap: "20" })}>
    <div
      class:list={[
        "first_view_anime",
        circle({ size: "xs", bg: "bg", border: "normal", opacity: "0" }),
      ]}
    >
      <Image
        src={icon}
        alt="にとのアイコン"
        class={circle({
          size: "80%",
          boxShadow: "normal",
          textAlign: "center",
        })}
      />
    </div>
    <p
      class={bg_extend({
        fontFamily: "metro",
        fontSize: "7xl",
        color: "text.light",
        lineHeight: "0.8",
        display: "none",
      })}
      data-on-load="block"
    >
      <span> NITO </span>
    </p>
  </div>
  <div class:list={[about, "first_view_anime"]}>
    <p class={css({ fontSize: "4xl", "& span": { display: "inline-block" } })}>
      {DESCRIPTION}
    </p>
    <MoreButton href="/about" />
  </div>
</div>

<script>
  import { gsap } from "gsap";

  window.addEventListener("load", () => {
    gsap.fromTo(
      ".first_view_anime",
      {
        scale: "1.05",
        autoAlpha: 0,
      },
      {
        scale: "1",
        autoAlpha: 1,
        ease: "expo.out",
        duration: 1,
        delay: 0.5,
      }
    );
  });
</script>
