---
import { css } from "../../../styled-system/css";
import { container } from "../../../styled-system/patterns";
import Fluid from "../Fluid.astro";
import HistoryItem from "../HistoryItem.astro";
import TopSection from "./TopSection.astro";
import "../../utils/historyGenerator";

const section = container({
  paddingInline: "px.container",
  paddingBlock: "py.section",
  maxWidth: "max.width.container",
  pos: "relative",
  color: "text.light",
});
const fluid_container = css({
  pos: "absolute",
  height: "90%",
  width: "120%",
  minWidth: "6xl",
  zIndex: "-1",
  top: "50%",
  left: "50%",
  transform: "translate(-50%, -50%)",
});
---

<TopSection heading="HISTORY" href="/history" class={section}>
  <ul>
    <li>
      <li>
        <HistoryItem date={new Date("2024-12-17")}>
          ダウンロードリンクを追加
        </HistoryItem>
      </li>
      <HistoryItem date={new Date("2024-12-15")}>サイトを公開</HistoryItem>
    </li>
  </ul>
  <div class={fluid_container}><Fluid /></div>
</TopSection>
