---
import "@fontsource/zen-dots";
import "@fontsource/zen-maru-gothic";

import "../index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead from "../components/BaseHead.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead />
  </head>
  <body>
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script>
  //import "../darkmode";
</script>
