---
import "@fontsource/zen-dots";
import "@fontsource/zen-maru-gothic";

import "../index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import BaseHead, {
  type Props as BaseProps,
} from "../components/BaseHead.astro";
import bgImg from "../assets/bg/textured-stripes.png";

import { css } from "../../styled-system/css";
import { getImage } from "astro:assets";

export type Props = BaseProps;

const { ...head } = Astro.props;

const body = css({
  minHeight: "100dvh",
  backgroundImage: `var(--background-url)`,
  backgroundRepeat: "repeat",
});
const optimizedBgImg = await getImage({ src: bgImg, format: "webp" });
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body
    class={body}
    style={{ "--background-url": `url(${optimizedBgImg.src})` }}
  >
    <Header />
    <div class={css({ paddingBlock: "64" })}>
      <slot />
    </div>
    <Footer />
  </body>
</html>
