---
import "@fontsource/zen-dots";
import "@fontsource/zen-maru-gothic";

import "../index.css";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import BaseHead, {
  type Props as BaseProps,
} from "../components/BaseHead.astro";

import { css } from "../../styled-system/css";

export type Props = BaseProps;

const { ...head } = Astro.props;

const body = css({
  minHeight: "100dvh",
});
const container = css({
  paddingTop: "52",
});
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead {...head} />
  </head>
  <body class={body}>
    <Header />
    <div class={container}>
      <slot />
    </div>
    <Footer />
  </body>
</html>

<script>
  //import "../darkmode";
</script>
