---
import { container } from "../../styled-system/patterns";
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps & {
  title: string[];
};

const props = Astro.props;

const cont = container({
  maxWidth: "max.width.container",
  paddingInline: "px.container",
  overflowX: "hidden",
  paddingBottom: "10",
});
---

<Layout {...props}>
  <div class={cont}>
    <slot />
  </div>
</Layout>
