---
import { css } from "../../styled-system/css";
import { container } from "../../styled-system/patterns";
import Heading from "../components/Heading.astro";
import Layout, { type Props as LayoutProps } from "./Layout.astro";

export type Props = LayoutProps & {
  title: string[];
  class?: string;
};

const props = Astro.props;

const cont = container({
  maxWidth: "max.width.container",
  paddingInline: "px.container",
});
---

<Layout {...props}>
  <div class:list={[cont, props.class]}>
    <slot />
  </div>
</Layout>
