---
import type { InferEntrySchema } from "astro:content";
import Section from "../components/Section.astro";
import { markdown } from "../recipes/markdown";
import { css } from "../../styled-system/css";
import PageLayout from "./PageLayout.astro";

interface Props {
  frontmatter: InferEntrySchema<"work">;
}

const { frontmatter } = Astro.props;

const heading = css({
  fontFamily: "mplus",
  fontSize: "5xl",
  textAlign: "center",
  marginBottom: "16",
});
---

<PageLayout
  title={["WORKS", frontmatter.name]}
  description={frontmatter.description}
  pageType="article"
>
  <Section heading="WORKS">
    <h2 class={heading}>{frontmatter.name}</h2>
    <div class={markdown({ type: "work" })}>
      <slot />
    </div>
  </Section>
</PageLayout>
